<launch>
	<!-- Launch file for RVIZ configured for Unilidar L1 LiDAR Mapping -->

	<arg name="rviz" default="true" />

	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find point_lio_unilidar)/rviz_cfg/loam_livox.rviz" />
	</group> launch-prefix="gdb -ex run --args"

</launch>